* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8e8e8;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
  margin-top: 5%;
  box-shadow: 5px 5px 20px rgb(147, 250, 165);
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.App h1 {
  padding: 20px 0;
}
/* .list li {
  width: 100px;
} */
.container div {
  margin: 0 5px;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 10px 50px;
  text-align: center;
}
.list ul li {
  margin-right: 10px;
  color: #14cdc8;
  font-size: 22px;
  font-weight: bold;
}
.list ul .done {
  color: #e8e8e8;
}
